@media (min-width: 480px) and (max-width:767px) {
  body {
    background-color: rgb(248, 245, 238);
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  body {
    background-color: rgb(248, 245, 238);
  }
}

@media (min-width: 1024px) and (max-width:1199px) {
  body {
    background-color: rgb(248, 245, 238);
  }
}

@media (min-width: 1200px) {
  body {
    background-color: rgb(248, 245, 238);
  }
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #d30f4c;
  color: white;
  height: 100px;
  line-height: 95px;
}

nav {
  height: 100px;
  line-height: 95px;
  text-align: end;
}

.logo img {
  width: 100px;
  text-align: left;
}

a {
  text-align: end;
  margin: 50px;
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

header :hover {
  color: white;
  font-family: 'Poppins', sans-serif;
}


body {
  background-color: rgb(248, 245, 238);
  margin: 0px;
}

table,
th,
td {
  color: #001e48;
  margin: 45px;
  border: 1px solid;
  border-collapse: collapse;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: #001e48;
  font-family: 'Poppins', sans-serif;
  margin: 45px;
}

h2 {
  color: #001e48;
  font-size: 21px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin: 45px;
}

ul {
  color: #001e48;
  font-family: 'Poppins', sans-serif;
  margin: 45px;
}

p {
  color: #001e48;
  font-family: 'Poppins', sans-serif;
  margin-left: 45px;
}

a {
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 45px;
}

a:hover {
  color: black;
  font-family: seri 'Poppins', sans-seriff;
  margin: 45px;
}

.profielfoto img {
  text-align: left;
}

label {
  color: #001e48;
  font-family: 'Poppins', sans-serif;
}

.form-element {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

label,
input,
select {
  flex: 1;
  padding: 5px;
}

footer {
  margin: 45px;
  margin-bottom: 400px;
}
